<app-header></app-header>
<div class="hero">
    <div class="hero__content">
      <img src="../../../assets/images/img1.png" width="200px" height="auto" alt="">

      <h1>We Work Happy</h1>
      <h4>Il tuo prossimo lavoro ti sta aspettando</h4>

      <div class="hero__container">
        <div class="hero__container--search">

          <div class="search-box">
            <input type="text" placeholder="Che lavoro stai cercando?">
            <input type="text" placeholder="Città...">
            <button type="button">Cerca</button>
            <!--<input [(ngModel)]="this.inputContent" type="text" placeholder="Città, Regione, Provincia, Via...">-->
            <!--<button (click)="this.clickTrova()" type="button">Trova</button>-->
          </div>
        </div>

        <!--<div class="hero__container--info">
          <h5>Cerchi un mutuo?</h5>
          <p>Sei nel posto giusto</p>
          <p>Trova la soluzione per te</p>

          
          <button class="showMore" type="button">Scopri di più</button>
        </div>-->
      </div>

    </div>

  </div>