<app-header></app-header>
<div class="hero">
    <div class="hero__content">
      <img src="../../../assets/images/img1.png" width="200px" height="auto" alt="">

      <h1>We Work Happy</h1>
      <h4>Il tuo prossimo lavoro ti sta aspettando</h4>

      <div class="hero__container">
        <div class="hero__container--search">

          <div class="search-box">
            <input type="text" placeholder="Che lavoro stai cercando?">
            <input type="text" placeholder="Città...">
            <button type="button">Cerca</button>
            <!--<input [(ngModel)]="this.inputContent" type="text" placeholder="Città, Regione, Provincia, Via...">-->
            <!--<button (click)="this.clickTrova()" type="button">Trova</button>-->
          </div>
        </div>

        <!--<div class="hero__container--info">
          <h5>Cerchi un mutuo?</h5>
          <p>Sei nel posto giusto</p>
          <p>Trova la soluzione per te</p>

          
          <button class="showMore" type="button">Scopri di più</button>
        </div>-->
      </div>

    </div>
</div>
<main>
  <h3>Aggiunti di recente</h3>
  <h5>Aziende straordinarie sono alla ricerca di grandi talenti</h5>
  <section class="cardSection">
  <div class="cardRow">
    <div class="card">
      <h5 routerLink="/detail">Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>

    <div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>

    <div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
      <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>

    <div class="card card--twoCol">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
      <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>
  </div>

  <div class="cardRow">
    <div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>

    <div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>

    <div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>

    <div class="card card--twoCol">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
      <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>
  </div>
</section>

  <section class="selectByCategory">
    <div class="selectByCategory__col">
      <h4>Seleziona la categoria di offerte che ti interessa</h4>
    </div>
    <div class="selectByCategory__col">
      <div class="selectByCategory__col__item">
        <a>Ingegnieri<span> ( 324 )</span></a>
        <hr>
        <a>Tecnici specializzati<span> ( 240 )</span></a>
        <hr>
        <a>Ingegnieri<span> ( 324 )</span></a>
        <hr>
        <a>Tecnici specializzati<span> ( 240 )</span></a>
        <hr>
      </div>
    </div>
    <div class="selectByCategory__col">
      <div class="selectByCategory__col__item">
        <a>Ingegnieri<span> ( 324 )</span></a>
        <hr>
        <a>Tecnici specializzati<span> ( 240 )</span></a>
        <hr>
        <a>Ingegnieri<span> ( 324 )</span></a>
        <hr>
        <a>Tecnici specializzati<span> ( 240 )</span></a>
        <hr>
      </div>
    </div> 
  </section>
 
</main>
<app-footer></app-footer>