<app-header></app-header>
<div class="hero">
    <div class="hero__content">
      <img src="../../../assets/images/img1.png" width="200px" height="auto" alt="">

      <h1>We Work Happy</h1>
      <h4>Il tuo prossimo lavoro ti sta aspettando</h4>

      <div class="hero__container">
        <div class="hero__container--search">

          <div class="search-box">
            <input (input)="jobTerm = $event.target.value" type="text" placeholder="Che lavoro stai cercando?">
            <input (input)="cityTerm = $event.target.value" type="text" placeholder="Città...">
            <button (click)="getDataFromApi()" type="button">Cerca</button>
          </div>
        </div>

      </div>

    </div>
</div>
<main>
  <div *ngIf="this.jobData.page_count">
    <h3>Risultati ricerca</h3>
    <h5>Aziende straordinarie sono alla ricerca di grandi talenti</h5>
  </div>
  

  <h5 *ngIf="!this.jobData.page_count">Non è presente nessun risultato nella tua ricerca</h5>

  <section class="cardSection">
  <div class="cardRow">
    <div *ngFor="let result of jobResults" class="card">
      <h5 routerLink="/detail">{{result.name}}</h5>
      <i class="fas fa-map-pin"><span>{{result.locations[0].name}}</span></i>
      <h5 routerLink="/detail">{{result.company.name}}</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Type: {{result.type}}</span></i>
        <p>Experience :<span>{{result.levels[0].name}}</span></p>
      </div>
      <!--<i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>-->
      <!--<p>DESCRIPTION HERE Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
      <p [innerHTML]="result.contents | slice:0:200"></p>
      <!--<div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>-->
    </div>

    <!--<div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>-->

    <!--<div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
      <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>-->

    <!--<div class="card card--twoCol">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
      <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>-->
  </div>

  <div *ngIf="this.jobData.page_count" class="paginationCont">
    <div (click)="decrementPagination()" class="paginationCont__changePage">
      <i class="fas fa-angle-left"></i>
      <p>Previous</p>
    </div>
    <div class="paginationCont__circleCont">
      <div class="paginationCont__circleCont--circle">
        <p>{{this.jobData.page}}</p>
      </div>
      <p>of</p>
      <div class="paginationCont__circleCont--circle">
        <p>{{this.jobData.page_count}}</p>
      </div>
    </div>
    <div (click)="incrementPagination()" class="paginationCont__changePage">
      <p>Next</p>
      <i class="fas fa-angle-right"></i>
    </div>
  </div>
</section>

  <section class="selectByCategory">
    <div class="selectByCategory__col">
      <h4>Seleziona la categoria di offerte che ti interessa</h4>
    </div>
    <div class="selectByCategory__col">
      <div class="selectByCategory__col__item">
        <a>Account Management<span> ( 324 )</span></a>
        <hr>
        <a>Creative & Design<span> ( 240 )</span></a>
        <hr>
        <a>Data Science<span> ( 324 )</span></a>
        <hr>
        <a>Education<span> ( 240 )</span></a>
        <hr>
      </div>
    </div>
    <div class="selectByCategory__col">
      <div class="selectByCategory__col__item">
        <a>Ingegnieri<span> ( 324 )</span></a>
        <hr>
        <a>Tecnici specializzati<span> ( 240 )</span></a>
        <hr>
        <a>Ingegnieri<span> ( 324 )</span></a>
        <hr>
        <a>Tecnici specializzati<span> ( 240 )</span></a>
        <hr>
      </div>
    </div> 
  </section>
 
</main>
<app-footer></app-footer>