<app-header></app-header>
<div class="hero">
    <div class="hero__content">
        <div class="hero__content__headCont">
            <h2>Offerte di lavoro per :</h2>
            <h2>Designer</h2>
        </div>
      
      <!--<div class="hero__container">
        <div class="hero__container--search">

          <div class="search-box">
            <input type="text" placeholder="Che lavoro stai cercando?">
            <input type="text" placeholder="Città...">
            <button type="button">Cerca</button>
          </div>
        </div>
      </div>-->
      <p>Trovate 77 offerte</p>

    </div>
</div>
<main>

  <!--<h3>Aggiunti di recente</h3>
  <h5>Aziende straordinarie sono alla ricerca di grandi talenti</h5>-->
  <section class="cardSection">
    <div class="filterCont">
        <div class="searchBox">
            <div class="searchBox__item">
                <label for="">Lavoro</label>
                <input type="text" placeholder="lavoro">
            </div>
            <div class="searchBox__item">
                <label for="">Luogo</label>
                <input type="text" placeholder="dove ?">
            </div> 
            <button type="submit">Cerca</button>         
        </div>
        <div class="selectByCategory__col">
            <h4>Categoria</h4>
            <div class="selectByCategory__col__item">
              <a>Ingegnieri<span> ( 324 )</span></a>
              <hr>
              <a>Tecnici specializzati<span> ( 240 )</span></a>
              <hr>
              <a>Ingegnieri<span> ( 324 )</span></a>
              <hr>
              <a>Tecnici specializzati<span> ( 240 )</span></a>
              <hr>
            </div>
        </div>
        <div class="selectByCategory__col">
            <h4>Tipo di contratto</h4>
            <div class="selectByCategory__col__item">
              <a>Indeterminato<span> ( 324 )</span></a>
              <hr>
              <a>Stage<span> ( 240 )</span></a>
              <hr>
              <a>Somministrazione<span> ( 324 )</span></a>
              <hr>
              <a>Scopo assunzione<span> ( 240 )</span></a>
              <hr>
              <a>Determinato<span> ( 240 )</span></a>
              <hr>
            </div>
        </div>
        
    </div>
  <div class="cardRow">
    <div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>

    <div class="card">
      <h5>Nome azienda</h5>
      <i class="fas fa-map-pin"><span>Sede azienda</span></i>
      <h5>Web Developer</h5>
      <div class="card__flexCont">
        <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
      <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
      </div> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
      <div class="skillsCont">
        <div class="skillsCont__item">React Native</div>
        <div class="skillsCont__item">Javascript</div>
        <div class="skillsCont__item">Flutter</div>
      </div>
    </div>
    <div class="card">
        <h5>Nome azienda</h5>
        <i class="fas fa-map-pin"><span>Sede azienda</span></i>
        <h5>Web Developer</h5>
        <div class="card__flexCont">
          <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
        </div> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
        <div class="skillsCont">
          <div class="skillsCont__item">React Native</div>
          <div class="skillsCont__item">Javascript</div>
          <div class="skillsCont__item">Flutter</div>
        </div>
    </div>
    <div class="card">
        <h5>Nome azienda</h5>
        <i class="fas fa-map-pin"><span>Sede azienda</span></i>
        <h5>Web Developer</h5>
        <div class="card__flexCont">
          <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
        </div> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
        <div class="skillsCont">
          <div class="skillsCont__item">React Native</div>
          <div class="skillsCont__item">Javascript</div>
          <div class="skillsCont__item">Flutter</div>
        </div>
    </div>

    

    <div class="card">
        <h5>Nome azienda</h5>
        <i class="fas fa-map-pin"><span>Sede azienda</span></i>
        <h5>Web Developer</h5>
        <div class="card__flexCont">
          <i class="fas fa-file-contract"><span>Tipo contratto</span></i>
        <i class="fas fa-hand-holding-usd"><span>Retribuzione</span></i>
        </div> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quis culpa ut consectetur autem enim debitis facere quisquam amet?</p>
        <div class="skillsCont">
          <div class="skillsCont__item">React Native</div>
          <div class="skillsCont__item">Javascript</div>
          <div class="skillsCont__item">Flutter</div>
        </div>
    </div>
  </div>  
</section>

</main>
<app-footer></app-footer>