@import '../../../assets/styles/variables';

/*
=============== 
HERO
===============
*/
.hero {
  height: 400px;
  background: $lightBg;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;

  &__content {
    text-align: left;

    p {
      padding-top: 5%;
      color: $lightRed;
    }

    &__headCont {
      display: flex;
      width: 100%;
      //background-color: salmon;

      h2 {
        font-weight: 400;
      }

      h2:nth-of-type(2) {
        margin-left: 20px;
        font-weight: 700;
        color: $lightRed;
      }
    }
  }
}

.hero__container {
  width: 80vw; // without this i have a problem
  margin: 0;

  display: flex;
  justify-content: center;
  color: $whiteColor;

}

.hero__container--search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 3%;
}

.search-box {
  display: flex;
  justify-content: space-around;

  input {
    width: 100%;
    margin-right: 2%;
    font-size: 1.1rem;
    padding: 15px;
    border: none;
    outline: none;
    border: 1px solid $lightRed;
    transition: .1s ease-in;

    &:nth-of-type(2) {
      width: 30%;
    }

    &:focus {
      border: 2px solid $lightRed;
    }
  }

  button {
    background-color: $lightRed;
    padding: 15px 25px;
    border: none;
    color: $whiteColor;
    font-weight: bold;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
  }
}

.afterSearch {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 35%;
  font-size: .8rem;
  font-size: 200;
}

@media (max-width: 1300px) {
  .hero {
    &__container {
      &--info {
        p {
          font-size: .8rem;
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .hero {

    &__container {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      &--search {
        width: 100%;
      }

      &--info {
        margin-top: 20px;
        text-align: center;
        width: 58%;
        margin-left: 0px;

        p {
          text-align: center;
          font-size: 1rem;
        }

        h5 {
          text-align: center;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .hero {
    &__content {
      img {
        display: none;
      }
    }
  }

  .search-box {
    flex-direction: column;

    input,
    input:nth-of-type(2) {
      width: 100%;
    }

    input:first-of-type {
      margin-top: 150px;
    }

    input,
    button {
      margin-top: 15px;
    }
  }
}

@media (max-width: 540px) {
  .hero {

    &__content {
      &__headCont {
        flex-direction: column;

        h2 {
          font-size: 2rem;
        }

        h2:nth-of-type(2) {
          margin-left: 0;
        }
      }

    }

    h1 {
      font-size: 3rem;
    }


    h4 {
      font-size: 1.5rem;
    }
  }
}


// main
main {
  //background-color: red;
  margin: 2% 0%;
  text-align: center;
}

.cardSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2% 5% 0 5%;

  .filterCont {

    .searchBox {
      button {
        width: 90%;
        color: $lightRed;
        border: 1px solid $lightRed;
        background-color: white;
        padding: 15px 0;
        color: $lightRed;
        font-size: 1.1rem;
        margin-right: 10%;
        margin-top: 3%;
        cursor: pointer;
        transition: .3s ease-in;

        &:hover {
          border: 1px solid $lightRed;
          background-color: $lightRed;
          color: white;
        }
      }

      &__item {
        width: 90%;
        text-align: left;
        margin-right: 10%;
        font-size: 1.5rem;

        input {
          margin: 2% 0 5% 0;
          padding: 3%;
          width: 100%;
          border: 1px solid $lightGray;
        }
      }
    }
  }

}

.cardRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  &:first-of-type {
    padding: 3% 0 0 0;
  }

  &:nth-of-type(2) {
    padding: 3% 0 3% 0;
  }

  .card {
    padding: 5%;
    text-align: left;
    border-radius: 20px;
    border: 1px solid $lightGray;
    background-color: $lightBg;

    &--twoCol {
      display: none;
    }

    h5 {
      cursor: pointer;

      &:nth-of-type(2) {
        font-weight: 700;
      }
    }

    p {
      padding: 20px 0 30px 0;
      color: $textMedium;
    }

    i {
      color: $lightRed;
      padding: 15px 0;
    }

    span {
      margin-left: 8px;
      color: $textMedium;
    }

    &__flexCont {
      width: 90%;
      display: flex;
      justify-content: left;
      align-items: center;

      i:first-of-type {
        margin-right: 20px;
      }
    }

  }

  .skillsCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      padding: 10px;
      border-radius: 20px;
      background-color: palegoldenrod;
    }
  }
}

@media (max-width: 1024px) {
  .cardRow {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .cardSection {
    grid-template-columns: 1fr;
    padding: 0% 5%;

    .filterCont {
      margin-bottom: 10%;

      .searchBox {

        button {
          width: 100%;
        }

        &__item {
          width: 100%;
          margin-right: 0%;
          font-size: 1.2rem;

          input {
            margin: 1% 0 1% 0;
          }
        }
      }
    }

  }
}

// category
.selectByCategory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  //background-color: $lightBg;
  padding: 3% 5%;

  &__col {
    text-align: left;
    margin-top: 12%;

    h4 {
      text-align: left;
      font-size: 1.5rem !important;
      margin-bottom: 2%;
    }

    &__item {
      a {
        color: $primaryColor;
        font-size: 1.3rem;
        cursor: pointer;
      }

      span {
        color: $textMedium;
      }

      hr {
        width: 90%;
        margin: 2% 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .selectByCategory {
    margin: 10% 0;
    grid-template-columns: 1fr;

    hr {
      width: 100%;
    }
  }
}
