<app-header></app-header>

<main>
    <div class="infoCont">
        <a routerLink="">
            <i class="fas fa-chevron-left backTosearch"><span>Torna alla ricerca</span></i>
        </a>
        
        <p class="bold">Publication date : <span>{{this.detailCompanyData?.publication_date | date}}</span></p>
        <h4>{{this.detailCompanyData?.name}}</h4>      
        <p class="bold">Location : <span>{{this.detailCompanyData?.locations[0].name}}</span></p>
        <p class="bold">Categoria : <span>{{this.detailCompanyData?.industries[0].name}}</span></p>
        <p class="bold">Size : <span>{{this.detailCompanyData?.size?.name}}</span></p>
        <p class="bold">Description : 
            <span>{{this.detailCompanyData?.description}}</span>
        </p>
        <img src="{{this.detailCompanyData?.refs?.logo_image}}" width="80px" height="80px" alt="">
        <p class="bold">Refs : 
            <span>
            <a>{{this.detailCompanyData?.refs?.landing_page}}</a>
            </span>
        </p>
    </div>
</main>
<app-footer></app-footer>